name: Release

on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - prerelease/*

env:
  FEATURE_PRIVACY_SETTINGS: "true"
  FEATURE_EXPERIMENTAL_SETTINGS: "true"
  FEATURE_BANXA: "true"
  FEATURE_LAYERSWAP: "true"
  FEATURE_ORBITER: "true"
  FEATURE_TRANSACTION_SIMULATION: "true"
  FEATURE_VERIFIED_DAPPS: "false"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      FILENAME: argent-extension-${{ github.ref_name }}
      SEGMENT_WRITE_KEY: ${{ secrets.SEGMENT_WRITE_KEY }}
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      RAMP_API_KEY: ${{ secrets.RAMP_API_KEY }}
      UPLOAD_SENTRY_SOURCEMAPS: true
      ARGENT_API_BASE_URL: ${{ secrets.ARGENT_API_BASE_URL }}
      ARGENT_TRANSACTION_REVIEW_API_BASE_URL: ${{ secrets.ARGENT_TRANSACTION_REVIEW_API_BASE_URL }}
      ARGENT_X_STATUS_URL: ${{ secrets.ARGENT_X_STATUS_URL }}
      ARGENT_EXPLORER_BASE_URL: ${{ secrets.ARGENT_EXPLORER_BASE_URL }}
      SAFE_ENV_VARS: true
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "yarn"
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - name: Release npm packages
        # if flow is triggered by a tag, publish to npm
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          npm config set "//registry.npmjs.org/:_authToken" "$NPM_ACCESS_TOKEN"
          cp Readme.md ./packages/get-starknet/README.md
          yarn --cwd packages/get-starknet publish --access public || exit 0
          yarn --cwd packages/sessions publish --access public || exit 0
      - run: yarn --cwd packages/dapp export
      - name: Check bundlesize for chrome
        run: yarn run bundlewatch
      - name: Create chrome zip
        run: |
          cd packages/extension/dist
          zip -r $(echo "${{ env.FILENAME }}" | tr / -)-chrome.zip ./*
          mv $(echo "${{ env.FILENAME }}" | tr / -)-chrome.zip ../../../
          cd ../../../
      - name: Build Firefox version
        run: MANIFEST_VERSION=v2 yarn --cwd packages/extension build
      - name: Create firefox zip
        run: |
          cd packages/extension/dist
          zip -r $(echo "${{ env.FILENAME }}" | tr / -)-firefox.zip ./*
          mv $(echo "${{ env.FILENAME }}" | tr / -)-firefox.zip ../../../
          cd ../../../
      - name: Check bundlesize for firefox
        run: yarn run bundlewatch

      - name: Upload artifacts for chrome
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@v3
        with:
          name: chrome
          path: "*-chrome.zip"
          retention-days: 14
          if-no-files-found: error
      - name: Upload artifacts for firefox
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@v3
        with:
          name: firefox
          path: "*-firefox.zip"
          retention-days: 14
          if-no-files-found: error

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            ${{ env.FILENAME }}-chrome.zip
            ${{ env.FILENAME }}-firefox.zip
