name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      FILENAME: argent-extension-${{ github.ref_name }}.zip
      SEGMENT_WRITE_KEY: ${{ secrets.SEGMENT_WRITE_KEY }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Check required env vars
        run: |
          [[ -z "${SEGMENT_WRITE_KEY}" ]] && exit 1
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: npm config set "//registry.npmjs.org/:_authToken" "$NPM_ACCESS_TOKEN"
      - run: cp Readme.md ./packages/get-starknet/README.md
      - run: yarn --cwd packages/get-starknet publish --access public
        continue-on-error: true
      - run: yarn --cwd packages/dapp export
      - name: Check bundlesize
        run: yarn run bundlewatch
      - name: Create zip
        run: |
          cd packages/extension/dist
          zip -r ${{ env.FILENAME }} ./*
          mv ${{ env.FILENAME }} ../../../
          cd ../../../
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            ${{ env.FILENAME }}
